
body {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: .7em;
    color:white;
	background-color: #C0635D;
	width: 100%;
}

h1 {
	font-size: 1.7em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

header p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#main-header {
	position: relative;
	background: #C04941;
	color: white;
	height: 8em;
}	
	#main-header a {
		color: white;
    }
    
    #main-header .side-logo{
        width: auto;
        height: 4em;
    }

#logo-header {
	float: right;
	padding: 2.5em 60px 2em 0px;
	text-decoration: none;
}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 2.4em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
    }

#logo-shop-cart{
        float: right;
        padding: 2em 60px 2em 0px;
}

#logo-tec-food{
	height: 5em;
	float: left;
	padding: 1em 60px 1em 25px;
}

#main-header #text-header{
	float: left;
	font-size: 4em;
	text-emphasis: uppercase;
	padding: 20px 60px 0em 0px;
}

.fila1, .fila2{
	
	border: #666;
	
	width: 90%;
	height: 40em;
	padding-bottom: 1em;
	
}

.mini-container:hover{

	opacity: .25;

}

.container{
	
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 1fr;
	grid-gap: 10px;
	width: 90%;
	padding-left: 30em;
	
}

.mini-container{
	
	/*display: grid;*/
	font-size: 30px;
	padding: 0em;
	text-align: center;
}
.col-1-1, .col-1-2, .col-2-1, .col-2-2{

	background-color: #C04941;
	height: 7em;

}

#torta, #pozole, #tacos, #desayuno{
	width: 150px;
	height: 150px;
}